{% extends 'base1.html' %}
{% load static %}
{% block content %}
<!-- <h1 class="page-header">Books</h1>
<p>
    <button type="button" class="btn btn-primary js-create-book">
        <span class="glyphicon glyphicon-plus"></span>
        New book
    </button>
</p> -->

<h1 class="page-header">Books</h1>

<p>
    <button type="button" class="btn btn-primary js-create-book" data-url="{% url 'book_create' %}">
        <span class="glyphicon glyphicon-plus"></span>
        New book
    </button>
</p>



<!-- <table class="table" id="book-table"> -->
<!-- TABLE CONTENT SUPPRESSED FOR BREVITY'S SAKE -->
<!-- </table> -->

<table class="table" id="book-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>Type</th>
            <th>Publication date</th>
            <th>Pages</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% include 'books/partial_book_list.html' %}
    </tbody>
</table>

<!-- THE MODAL WE WILL BE USING -->
<div class="modal fade" id="modal-book">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/books.js' %}"></script>
{% endblock javascript %}